@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin:0px;
    padding: 0px;
    background-color: #292929;
    width: 100%;
}

/*Nav*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    width: 100%;
    height: 65vh;
    box-sizing: border-box;
}
header{
    background-color: #F2F2F2;
}
nav{
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    z-index: 1;
}
.navbar{
    padding-left: 30%;
}
.navbar-toggler-icon{
    fill: #292929;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.menu li a:hover{
    background-color: #555454;
    color: #ffffff !important; 
    font-weight: 400;
    transition: all ease 0.4s;
    text-decoration: none;
}

/*Banner*/
.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}
.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
    color: #ffffff;
    text-decoration: none;
}
.pop{
    color: #D96459;
}
.b-img{
    padding-top: 5%;
    padding-left: 5%;
    max-width: 65% ;
    height: auto;
}
.ba{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    padding-top: 3%;
}
.ba h2{
    font-family: Poppins !important;
    font-size: 2.9rem;
    letter-spacing: 3px;
    color: #292929;
}
.detail{
    padding-top: 20%;
    color: #6c707c;
    font-size: 1.3rem;
}
.banner{
    background-color: #F2F2F2;
    padding-bottom: 5%;
}

/*About*/
#About{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 5% 10px 5%;
}
/*.aboutxt{
    padding-top: 7%;
}*/
.aboutxt h2{
    font-family: Poppins;
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: #D96459;
    margin-bottom: 10px;
    padding: 0px;
}
.aboutxt p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F2F2F2;
}
.aboutmodel{
    justify-content: center;
}
.a-img{
    /*padding-top: 20%;
    padding-left: 10%;*/
    max-width: 75% ;
    height: auto;
}
.bullet{
    list-style-type: disc;
}
@media(max-width:960px){
    #main{
        background-size: 960px;
    }
    .b-img{
        padding-top: 30%;
    }
    .a-img{
        padding-top: 30%;
    }
}
@media(max-width:720px){
    #main{
        background-size: 720px;
    }
    .b-img{
        padding-top: 5%;
    }
    .a-img{
        display:none;
    }
}
.skill{
    color: #6c707c;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: Poppins;
    margin-bottom: 0;
}
.aboutxt li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F2F2F2;
}
.sk{
    margin:7%;
}
.programs{
    /*margin: 7%;*/
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    max-width: 100%;
    padding: 2%;
}
.programsList{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
}
.programsList li {
    font-family: Poppins !important;
    font-size: 1.2vw !important;
    padding: 10px 10px;
    color: #6c707c;
    font-size: 12px;
}

/*Experience*/
#Experience{
    background-color: #F2F2F2;
    padding-top: 5%;
    padding-bottom: 5%;
}
.titExp{
    display: flex;
    justify-content: center;
}
.titExp h2{
    font-family: Poppins;
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: #292929;
    margin-bottom: 10px;
    padding: 0px;
}
.infoExp{
    margin-top:5%;
}
.fechaExp{
    padding-top: 0.8%;
    display: flex;
    justify-content: center;
}
.fechaExp p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6c707c;
    font-size: 1rem;
}
.txtExp h3{
    font-family: Poppins;
    color: #292929;
    font-size: 1.4rem; 
    font-weight: bold;
}
.txtExp h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 1%;
    color: #D96459;
}
.txtExp ul{
    list-style-type: none;
}

/*Projects*/
#Projects{
    background-color: #F2F2F2;
    padding-top: 3%;
    padding-bottom: 5%;
}
.pro{
    display: flex;
    align-items: center;
}
.titPro h2{
    font-family: Poppins;
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: #D96459;
    margin-bottom: 10px;
    padding-bottom: 5%;
}
.carousel-caption {
    margin-top: 1%;
    position: relative;
    left: auto;
    right: auto;
} 
.descrip{
    display: flex;
    justify-content: center;
}
.descrip h5{
    font-family: Poppins;
    color: #292929;
    font-size: 1rem; 
    font-weight: bold;
}
.descrip p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem; 
    color: #5e626b;
    padding-left: 2%;
    padding-right: 2%;
}

/*Education*/
#Education{
    background-color: #F2F2F2;
    padding-bottom: 7%;
}
.titEdu{
    display: flex;
    justify-content: center;
}
.titEdu h2{
    font-family: Poppins;
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: #292929;
    margin-bottom: 10px;
    padding: 0;
}
.subTEdu{
    color: #D96459;
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 2%;
    padding-top: 2%;
}
.nomEdu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #292929;
}
.filaEdu{
    padding-bottom: 5%;
}
#degreeEdu{
    margin-left: 20%;
    margin-right: 20%;
}
.solid{
    color: #292929;
    border-width: 1px;
    width: 80%;
}


/*Interests*/
#Interest{
    padding-bottom: 10%;
}
.titInt{
    padding-top: 5%;
    padding-bottom: 2%;
}
.titInt h2{
    font-family: Poppins;
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: #F2F2F2;
    margin-bottom: 10px;
    padding: 0px;
}
.titInt p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F2F2F2;
}
.cardInt{
    background-color: #292929;
    border: none;
    color: #F2F2F2;
    font-family: Poppins;
    font-size: 0.4rem ;
}
.cardInt img{
    object-fit: cover;
    height: 15vw;
}
.listInt{
    margin-bottom: 5%;
}

/*Footer*/
footer{
    padding-bottom: 1%;
    justify-content: center; 
    text-align: center;
    color: #F2F2F2;
}
.social{
    width: 100%;
    display:inline-block; 
    justify-content: space-around; 
    font-size: 24px;
     margin-bottom: 2%;
}
.social a{
    color: #F2F2F2;
    padding:2%;
}
.titCon{
    font-family: Poppins;
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: #D96459;
    margin-bottom: 2%;
    padding: 0px;
}
.subTCon{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #F2F2F2;
}
.txtCon{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
